[Unit]
Description=Node Exporter
After=network.target

[Service]
ExecStart=/opt/node_exporter/node_exporter \
  --collector.cpu \
  --collector.diskstats \
  --collector.netdev \
  --web.listen-address=":9000"
User=nobody
Restart=always

[Install]
WantedBy=default.target